$neutral-clear: rgb(255, 255, 255);
$color-dark: rgb(251, 146, 26);
$color-light: rgb(246, 239, 49);
$title-shadow:rgba(0, 0, 0, 0.522);
$borders:rgb(112, 112, 112);
$shadows:rgba(0, 0, 0, 0.161);
$text-color: rgb(73, 73, 73);